body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 24px;
    padding: 24px 40px;
    text-align: center;
}

.boxes {
    margin: auto;
    padding: 12px 20px;
    width: 65%;
    display: flex;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 3px;
}

.box1 {
    padding: 60px 10px;
}

.firstNumber {
    height: 50px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    outline: none;
}

.box2 {
    padding: 40px 10px;
    width: 200px;
    position: relative;
}

.operator1 {
    background-color: darkslategray;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    outline: none;
}

.operator2 {
    background-color: darkslategray;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    outline: none;
}

.operator3 {
    background-color: darkslategray;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    outline: none;
}

.operator4 {
    background-color: darkslategray;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    outline: none;
}
.operator1:hover,
.operator2:hover,
.operator3:hover,
.operator4:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
    transition: 0.5s;
}

.box3 {
    padding: 28px 10px;
    display: flex;
}

.equal {
    background-color: darkslategray;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}

.equal:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
}

.box4 {
    padding: 14px 10px;
    max-width: 60%;
    position: absolute;
    top: 33%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.t {
    font-size: 20px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: white;
}